{{ define "main" }}
<div class="article-list-clean">
  <h1 class="posts-stream__title">{{ .Title }}</h1>
  {{ .Content }}
  <div class="list-pages">
  {{ range .Pages }}
    <section class="posts-stream__item">
      <h2 style="font-size: 1.1rem; margin: 0; font-weight: 500;">
        <a class="posts-stream__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
      <time class="posts-stream__date">{{ .Date.Format "2006-01-02" }}</time>
    </section>
  {{ end }}
  </div>
</div>
{{ end }}

